body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #efe5d0 url(background.jpg);
    
}

header {
    margin-bottom: 20px;
    height: 250px;
    background:#efe5d0 url(bc1.jpg);
}

header h1 {
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
}

.top p{
    padding-left: 150px;
}

header.top img#photo {
	float: right;
    padding-top: 50px;
    padding-right: 100px;
}

.work-experience {
    width: 50%;
    padding: 15px;
    vertical-align: top;
    display: table-cell;
    background:#efe5d0 url(bc3.jpg);
    float: left;
    height: 400px;
    text-align: center;
    border:thin solid black;
}


.work-experience ul {
    list-style-type: none;
    padding: 0;
}

.work-experience li{
    margin-bottom: 15px;
}
.evaluate{
    background:#efe5d0 url(bc3.jpg);
    width: 50%;
    display: table-cell;
    height: 400px;
    padding-top: 30px;
    vertical-align: top;
    text-align: center;
    border:thin solid black;
}
footer {
    text-align: center;
    background:#efe5d0 url(bc2.jpg);
    height: 100px;
}

nav {
    background-color:coral;
	margin: 0px 0px 0px 0px;
}
nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}
nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}
nav ul li a:link, nav ul li a:visited {
	color: #954b4b;
	border-bottom: none;
	font-weight: bold;
}