body{
    background: antiquewhite url(bc1.jpg);
    margin: 20px;
    display: flex; /* 使用Flexbox */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    min-height: 100vh; /* 设置最小高度为视口高度，确保页面内容始终居中 */
    margin: 0; /* 移除外边距 */
    padding: 20px; /* 添加内边距 */
    box-sizing: border-box; /* 使用box-sizing确保内边距不会增加元素的总宽度和高度 */
}
.main {
    text-align: center;
}
form {
	display: flexbox;
	padding: 10px;
	border: thin dotted #7e7e7e;
	background-color:cadetblue;
    flex-direction: column;
}

form textarea {
	width: 500px;
	height: 200px;
    margin-bottom: 10px;
}

div.tableRow {
	display: flex;
    justify-content: space-between; /* 子元素之间等距分布 */
    align-items: center; /* 子元素垂直居中 */
    margin-bottom: 10px; /* 下外边距 */

}

div.tableRow p {
	padding: 3px;
}
div.tableRow p:first-child {
	text-align: right;
    flex-grow: 1;
}
p.heading {
	font-weight: bold;
}

.return{
    padding: 15px;
    text-align: center;
}